<form #userform1="ngForm" class="form-group" (ngSubmit)="onsubmit1(userform1)">
  <div class="col-xs-10">

    <div class="form-group">
      <label>Name</label>
      <input type="text" #Name='ngModel' class="form-control" name="name" [(ngModel)]="name" title="Minimum 3 character maximum 5 character"      placeholder="Enter Name" required>
    </div>





    <div class="form-group">
      <label>Description</label>
      <input type="text" #Description='ngModel' class="form-control" name="description" title="Minimum 3 character maximum 5 character" [(ngModel)]="description" placeholder="Enter description" required>
    </div>

     <div class="form-group">
      <label>Created By</label>
      <input type="text" #Created='ngModel' class="form-control" name="created_by" title="Minimum 3 character maximum 5 character" [(ngModel)]="created" placeholder="Enter Created by" required>
    </div>

    


    <div>
<p align="right">
      <button align="center" class="btn btn-success"  name="button" >Add Series</button><br><br><br><br>
</p>
    </div>
  </div>


</form>

